target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

#Intelij IDEA
!**/.idea
*.iws
*.iml
*.ipr

#VS Code
.vscode/

HELP.md
!**/src/main/**/target/
!**/src/test/**/target/

#SPT
.apt_generated
.classpath
.factorypath
.proyect
.settings
.springBeans
.sts4-cache